<div class="bar-gray"
    style="min-height: 100px; display: flex; align-items: center; padding-top: 20px; padding-bottom: 20px;">
    <div class="container footer">
        <div class="row footer-items">
            <div class="col-sm-12 col-lg-7 footer-item" style="display: flex; align-items: center;">
                <div class="row">
                    <div class="col-sm-12 col-lg-5">
                        <img src="https://s3.amazonaws.com/files.convem.me/prod/logo/convem_logo.png" class="lazyload" width="250" alt=""
                            style="display: block;
                                margin-left: auto;
                                margin-right: auto;">
                    </div>
                    <div class="col-sm-12 col-lg-7" style="display: flex; align-items: center; text-align: center;">
                        <span style="margin: auto;color: white; font-size: 12px;">Tenha sua loja online em
                            <a class="third-color" href="https://www.convemstore.com">www.convemstore.com</a></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-5 footer-item" style="align-self: center; text-align: right;">
                <span style="margin: auto 0; color: white; font-size: 12px;">Powered by
                    <a class="third-color" href="https://getbootstrap.com">Bootstrap</a> e <a class="third-color"
                        href="https://www.convemstore.com">CONVEM
                        Dev</a>
                </span>
            </div>
        </div>
    </div>
</div>
