.market-container{
  max-width: 1200px;
  padding: 0 auto;
}

.internal-container{
  padding: 10px;
}

.space{
  margin-top: 60px;
  margin-bottom: 40px;
}

.container-one{
  width: 70%;
}

.container-banner{
  max-width: 100%;
  padding: 0 !important;
}

@media (max-width: 991px){
  .internal-container{
    margin: 5px auto;
    padding: 5px !important;
  }
  .display-mobile{
    display: none;
  }
}
@media (max-width: 540px){
  .internal-container{
    margin: 0 5px;
    padding: 5px 0 !important;
  }
}
