<div class="card primary-border cursor-pointer">
  <div class="embed-responsive embed-responsive-1by1">
    <img class="card-img-top embed-responsive-item" src="{{this.card.img}}" alt="Card image cap">
  </div>
  <div class="card-body">
    <h6 class="card-title">{{this.card.product}}</h6>
      <span class="offer-price">R$ {{this.card.price}}</span><br>
      <span class="validity">{{this.card.expires}}</span>
      <button href="#" class="btn bg-primary-color" style="width: 100%;">{{this.card.buttonText}}</button>
  </div>
</div>
